body {
    background-color:#1c253f;
    font-family: 'Fredoka';
}

section {
    margin: 100px auto;
    width: 600px;
}

h1 {
    color: white;
    font-size: 1rem;
}

#root_table {
    width: 100%;
}

#profile_table{
    width: 100%;
    background-color: #22326b;
    border-radius: 20px;
    color: white;
} 

#input_search {
    font-family: inherit;
    line-height: 1.5;
    padding:4px 10px;
    font-size: 1rem;
    width: 100%;
    border-radius:5px;
    border: 1px solid transparent;
    outline: none;
}

#button_search {
    width: 100%;
    line-height:1.5;
    padding:4px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0d6efd;
    font-size: 1rem;
}

#profile_table {
    width: 100%;
    background-color: #22326b;
    padding: 20px; 
    margin-top: 20px;
}

img {
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 10px;
}

#content_main {
   /*  vertical-align: text-top; */
    vertical-align: top;
    font-weight: 80;
}

#content_email {
    /*  vertical-align: text-top; */
    position: absolute;
    top: calc(40% - 140px);
    left: calc(50% - 80px);
}

#content_extra {
    vertical-align: top;
    font-weight: 50;
}