* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: gainsboro;
}

h1 {
    margin: 20px;
    background-color: rgb(201, 77, 201);
}

.section {
    text-align: center;
}

#input-search {
    padding: 8px;
    width: 300px;
}

#input-search {
    padding: 8px;
    width: 300px;
}

#btn-search {
    border: solid rgb(12, 145, 101);
    padding: 8px;
    background-color: rgb(12, 145, 101);
    width: 120px;
    border-radius: 4px;
    color: #fff;
}

#btn-clean {
    border: solid palevioletred;
    padding: 8px;
    background-color: palevioletred;
    width: 120px;
    border-radius: 4px;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30%;
}

.card {
    border-radius: 8px;
    box-shadow: 5px 2px 15px 5px rgba(196, 196, 196, 0.94);
    width: 20%;
    margin: 20px;
}

.title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    background-color: rgb(196, 187, 187);
}

.container-photo {
    text-align: center;

}

img {
    padding: 10px;
    height: 300px;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.container-price {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
}

.price {
    text-decoration: line-through;
}

.sale-price {
    color: #f01;
    text-transform: uppercase;
}

.btn-buy {
    border: none;
    background-color: purple;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 95%;
    margin-top: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}